/* HeroesComponent's private CSS styles */
ul {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

::ng-deep button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  font-family: Arial;
}

::ng-deep button:hover {
  background-color: #cfd8dc;
}

blockquote {
  margin: 20px 0px;
  padding: 1em;
  border-left: 5px solid sienna;
}

/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
