<h2>My Heroes</h2>

<div id="add-hero-form">
  <label>
    Hero name:
    <!-- [(ngModel)]="heroName": Two-way binding -->
    <input [(ngModel)]="heroName" />
  </label>
  <!-- (click)="addHero()": Event binding -->
  <button (click)="clearHeroInput()">clear</button>
  <button (click)="addHero()">add</button>

  <blockquote *ngIf="heroName">
    <!-- {{ heroName }}: Interpolation -->
    A new hero "{{ heroName }}" is about to join force
  </blockquote>
</div>

<ul id="hero-list">
  <!-- [hero]="hero": Property binding -->
  <!-- (deleteHero)="delete($event)": Event binding -->
  <app-hero-item
    *ngFor="let hero of heroes"
    [hero]="hero"
    (deleteHero)="delete($event)"
  ></app-hero-item>
</ul>

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
